* {
    margin: 0;
    padding 0;
}

body { 
    margin: 0; 
    font: 12px 'Helvetica Neue', Arial, sans-serif;
    background: #E8E5E2;
    padding: 20px;
    color: #222;
}

#nav {
    list-style: none;
    margin: 0 10px 10px;;
    padding: 0 0 10px;
    border-bottom: 1px dotted #CCC;
    height: 20px;
}

#nav li {
    float: left;
    margin-right: 20px;
}


.wrap {
    background: #FFF;
    border: 0px solid #456;
    padding: 1.0em;
}

.wrap:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#secondary {
}

.box {
    margin: 5px;
    padding: 5px;
    background: #D8D5D2;
    -moz-border-radius: 6px;
    -moz-border-radius-topleft: 0;
    -webkit-border-radius: 6px;
    -webkit-border-top-left-radius: 0;
    border-radius: 6px;
    border-top-left-radius: 0;
    font-size: 11px;
    float: left;
}

.col1 { width: 80px; }
.col2 { width: 180px; }
.col3 { width: 280px; }
.col4 { width: 380px; }
.col5 { width: 480px; }

.col1 img { max-width: 80px; }
.col2 img { max-width: 180px; }
.col3 img { max-width: 280px; }
.col4 img { max-width: 380px; }
.col5 img { max-width: 480px; }


h1, h2, h3 {
    font-weight:100;
}

h1 {
    font-size: 36px;
    margin: 0 10px;
}

h1, h2, h3, p, ul, ol {
    margin-bottom: 1.0em;
}

#instruction {
    margin: 4px;
    width: 428px;
}
#instruction p {
    line-height: 1.4em;
    font-size: 12.5px;
}

a img {
    border: none;
}

pre {
    background: #FFB;
    padding: 10px;
    border: 1px solid #DDA;
}

.hidden {
    display: none;
}

#footer {
    clear: both;
    margin: 20px 0;
    border-top: 1px dotted #CCC;
    line-height: 30px;
}


