* {
    margin: 0;
    padding: 0;
}

body { 
    margin: 0; 
    font: 13px 'Helvetica Neue', Arial, sans-serif;
    background: #D8D5D2;
    padding: 20px;
    color: #222;
}

a {
    color: #A2C;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #D26;
}

#nav {
    list-style: none;
    margin-bottom: 10px;
    padding: 0 0 10px;
    border-bottom: 1px solid #BBB;
    height: 20px;
}

#nav li {
    float: left;
    margin-right: 2px;
}

#nav li a {
    padding: 6px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#nav li a:hover {
}

#nav li.selected a {
    background: #C8C5C2;
    color: #FFF;

}

h1, h2 {
    font-weight:100;
}

h1 {
    font-size: 36px;
}

h1, h2, h3, p, ul, ol, pre, dl {
    margin-bottom: 1.0em;
}


.copy h2 {
    border-top: 2px solid #FFF;
    padding-top: 10px;
    clear: both;
}

a img {
    border: none;
}

pre, code {
    font-family: Monaco, monospace;
    font-size: 12px;
    background: #111;
    color: #F5F5F5;
}

p code {
    padding: 1px 3px;
}

pre {
    padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

pre .string { color: #3C3;}
pre .constant { color: #66F;}
pre .property { color: #A00;}
pre .keyword { color: #E66;}
pre .storage { color: #FC8;}
pre .comment { color: #888;}

ul, ol { padding-left: 1.3em;}

.hidden { display: none; }

.copy {
    width: 600px;
    line-height: 1.4em;
}

blockquote {
	margin: 0;
	font: italic 18px Georgia, serif;
}

dt {
    font-weight: bold;
    font-size: 14px;
}

dd + dt {
    margin-top: 0.5em;
}

dd {
    margin-left: 1.0em;
}

button {
    -webkit-appearance: push-button;
}

#footer {
    clear: both;
    margin: 20px 0;
    border-top: 1px solid #BBB;
    padding-top: 10px;
    line-height: 30px;
}


/**** Masonry CSS ****/

.wrap {
    background: #FFF;
    border: 0px solid #456;
    padding: 10px;
	margin-bottom: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.wrap:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.box {
    margin: 5px;
    padding: 5px;
    background: #D8D5D2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 11px;
    float: left;
}

.col1 { width: 80px; }
.col2 { width: 180px; }
.col3 { width: 280px; }
.col4 { width: 380px; }
.col5 { width: 480px; }

.col1 img { max-width: 80px; }
.col2 img { max-width: 180px; }
.col3 img { max-width: 280px; }
.col4 img { max-width: 380px; }
.col5 img { max-width: 480px; }



/**** Primer comparison ****/

#comparison {
    overflow: auto;
}

#comparison .example {
    width: 420px;
    float: left;
    margin-right: 20px;
}

#comparison .box h5 {
    float: left;
    margin-bottom: 0;
    font-size: 30px;
    margin-right: 4px;
    line-height: 28px;
    font-weight: bold;
    color: #FFF;
}



/* Magazine page */

#tumblelog {
	background: #FFF;
	padding: 1.0em;
}

#tumblelog:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#tumblelog .story {
	margin: 10px;
	border-top: 4px solid #DCB;
	padding-top: 10px;
	background: #FFF;
	float: left;
}

#tumblelog h1, #tumblelog h2, #tumblelog h3 { font-weight: bold;}

#tumblelog .col1 { width: 220px;}
#tumblelog .col2 { width: 460px;}
#tumblelog .col3 { width: 700px;}

#tumblelog .col1 img,
#tumblelog .col2 img,
#tumblelog .col3 img {
    max-width: none;
}

/* Infinite Scroll loader */
#infscr-loading { 
    z-index: 5000;
    position: fixed;
    left: 40%;
    bottom: 40px;
    width: 200px;
    height: 100px;
    padding: 10px;
    background: #000; 
    opacity: 0.8;
    color: #FFF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}



