<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  {% if page.category != 'homepage' %}{% assign root_path = '../' %}{% assign link_path = '..' %}{% else %}{% assign link_path = '.' %}{% endif %}
  <title>{{ page.title }}{% if page.category != 'homepage' %} &middot; {{ site.name }}{% endif %}</title>
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  
  <link rel="stylesheet" href="{{ root_path }}css/style.css" />
  
  {% if page.has_modernizr %}
    <script src="{{ root_path }}js/modernizr-transitions.js"></script>
  {% endif %}
  <!-- scripts at bottom of page -->

</head>
<body class="{{ page.category }} {{ page.body_class }}">
  
  <nav id="site-nav">
    <h1><a href="{{ root_path }}index.html">{{ site.name }}</a></h1>
    
    <h2>Docs</h2>
    
    <ul class="docs-list">
      {% for doc in site.categories.docs reversed %}
        {% if page.title == doc.title %}
        <li class="current"><a href="#content">{{ doc.title }}</a>
          <ul class="toc">
            {% for item in page.toc %}
            <li><a href="#{{ item.anchor }}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% else %}
          {% if doc.layout != 'index-page' %}
            <li><a href="{{ link_path }}{{ doc.url }}">{{ doc.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>

    <h2>Demos</h2>
    
    <ul class="demos-list">
      {% for demo in site.categories.demos reversed %}
        {% if page.title == demo.title %}
        <li class="current"><a href="#content">{{ demo.title }}</a></li>
        {% else %}
          {% if demo.layout != 'index-page' %}
            <li><a href="{{ link_path }}{{ demo.url }}">{{ demo.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
    
  </nav> <!-- #site-nav -->
  
  <section id="content">
    
    {% if page.category != 'homepage' %}
      <h1>{{ page.title }}</h1>
    {% endif %}
    
    {{ content }}
    
    <footer id="site-footer">
      {{ site.name }} by <a href="http://desandro.com">David DeSandro</a>
    </footer>
    
  </section> <!-- #content -->

</body>
</html>